snippet <?
	<?php

snippet namespace
	namespace ${VIM: substitute(expand('%:.:h'), '/', '\\', 'g')};
snippet class
	class ${VIM: expand('%:t:r')}${1}
	{
		${2}
	}
snippet ~class
	<?php
	namespace ${VIM: substitute(expand('%:.:h'), '/', '\\', 'g')};

	class ${VIM: expand('%:t:r')}${1}
	{
		${2}
	}
