snippet import
	import ${1} from ${2}

snippet import}
	import { ${1} } from ${2}

snippet setup
	<script setup>
	import { ref } from 'vue'${1}
	</script>

	<template>
	${2}
	</template>

snippet ref
	ref(${1})

snippet computed
	computed(() => ${1})

snippet /*
	/* --- */

snippet /**
	/* --- ${1} --- */
