" Plugins
set sneak
set NERDTree
set surround
set commentary

" Keymapping
let mapleader = " "

nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>w
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l

nnoremap <Leader>qq :nohls<cr>
nnoremap <Leader>qr :set rnu!<cr>

nnoremap <C-p> :action SearchEverywhere<cr>

nnoremap <Leader>n :NERDTreeFocus<cr>
nnoremap <C-n> :NERDTreeToggle<cr>

" Clipboard
set clipboard+=unnamed
set nu